<h1>Search</h1>
<form action="/Home/Search" method="get">
    <div class="form-group">
        <label for="word"></label>
        <input type="text" name="word" id="word" class="form-control" />
    </div>
    <input type="submit" value="submit" class="btn btn-primary" />
</form>